<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/1200x900/?cocktail);">
  <div class="container">
    <h1>
      <%= cocktail.name %>
    </h1>
    <p>
      <%= cocktail.description %>
    </p>
  </div>
</div>
