  <div class="row">
    <div class="column">
      <h3>Leave a Review</h3>
      <%= simple_form_for [cocktail, review] do |f| %>
        <%= f.input :content %>
        <%= f.input :rating, collection: [1, 2, 3, 4, 5] %>
        <%= f.submit "Add Review", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <br>
